<template>
  <div>
    <div class="mb-4 mt-4">
      <div class="row">
        <div class="col-12">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Search Place Keyword"
              v-model="searchText"
              @keypress.enter="searchPlace()"
            />
            <button
              class="input-group-text btn btn-sm btn-primary px-3"
              id="basic-addon2"
              @click="searchPlace()"
            >
              <font-awesome-icon icon="fa-solid fa-magnifying-glass" />
            </button>
          </div>
        </div>
      </div>
      <template v-if="items.length > 0">
        <div class="row">
          <div
            class="col-12 col-lg-6"
            v-for="(item, i) in items"
            :key="`item-${i}`"
          >
            <div class="card mb-3 pointer" @click="openModal(item)">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    :src="imagePlace(item.photos)"
                    class="img-fluid image-place"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <div
                      class="card-text"
                      :class="
                        !!item.opening_hours && item.opening_hours.open_now
                          ? `text-success`
                          : `text-danger`
                      "
                    >
                      {{
                        !!item.opening_hours && item.opening_hours.open_now
                          ? `Open`
                          : `Close`
                      }}
                    </div>
                    <div class="card-text text-sm">
                      <small class="text-muted">{{
                        item.formatted_address
                      }}</small>
                    </div>
                    <div class="card-text">
                      <small class="text-warning"
                        >Rating {{ item.rating }}</small
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template v-else>
        <div class="text-center mt-4">
          {{ `No Result of Restaurants` }}
        </div>
      </template>
    </div>
    <Modal ref="modalGmap" :detail="detail"></Modal>
  </div>
</template>
<script setup>
import { useGmapStore } from "~/stores/GmapStore";
const config = useRuntimeConfig().public;

const GmapStore = useGmapStore();
const searchText = ref(`Bang sue`);
const items = ref([]);
const showModal = ref(false);
const detail = ref({
  center: null,
  markers: null,
});
const modalGmap = ref(null)
onMounted(() => {
  searchPlace();
});

// Open modal Gmap location
const openModal = (item) => {
  detail.value.center = item.geometry.location;
  detail.value.markers = [
    {
      id: item.place_id,
      position: item.geometry.location,
      description: item.name,
      address: item.formatted_address,
      photos: item.photos,
    },
  ];
  modalGmap.value.openModal()
};

// Search place Restaurants by keyword
const searchPlace = async () => {
  if (searchText.value.length === 0) {
    items.value = [];
    return;
  }
  const { data, status } = await $fetch(
    `${config.API_URL}google-maps/search-place`,
    {
      method: `GET`,
      query: { keyword: searchText.value },
    }
  );
  if (status) {
    items.value = data.results;

    let markers = [];
    items.value.forEach((item, i) => {
      if (i == 0) {
        GmapStore.setCenter(item.geometry.location);
      }
      markers.push({
        id: item.place_id,
        position: item.geometry.location,
        description: item.name,
        address: item.formatted_address,
        photos: item.photos,
      });
    });
    GmapStore.setMarker(markers);
  } else {
    alert("Something went wrong!");
  }
};
</script>
