<template>
  <div>
    <div class="mb-4 mt-4">
      <GMapMap
        :center="GmapStore.center"
        :zoom="13"
        :options="{
          zoomControl: true,
          mapTypeControl: false,
          scaleControl: false,
          streetViewControl: false,
          rotateControl: false,
          fullscreenControl: true,
        }"
        class="googlemap"
      >
        <GMapMarker
          :key="index"
          v-for="(marker, index) in GmapStore.markers"
          :position="marker.position"
          :clickable="true"
          :draggable="true"
          @click="openMarker(marker.id)"
        >
          <GMapInfoWindow
            :closeclick="true"
            @closeclick="openMarker(null)"
            :opened="openedMarkerID === marker.id"
          >
            <img
              :src="imagePlace(marker.photos)"
              class="img-fluid image-marker"
            />
            <h5 class="mt-2">{{ marker.description }}</h5>
            <div class="mt-2">{{ marker.address }}</div>
          </GMapInfoWindow>
        </GMapMarker>
      </GMapMap>
    </div>
  </div>
</template>
<script setup>
// use pinia for store state data in nuxt3
import { useGmapStore } from "~/stores/GmapStore";
const GmapStore = useGmapStore();
const openedMarkerID = ref("");
const openMarker = (id) => {
  openedMarkerID.value = id;
};
</script>
