<template>
  <div class="bg-white shadow-sm">
    <div class="py-4">
      <div class="container px-4">
          <div>
            Search Restaurants Google Map API
          </div>
      </div>
    </div>
  </div>
</template>
