<template>
  <div>
    <div class="modal" tabindex="-1" v-if="showModal">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Restaurants Location</h5>
            <button
              type="button"
              class="btn-close"
              @click="closeModal()"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body p-0" v-if="!!detail">
            <div class="">
              <GMapMap
                :center="detail.center"
                :zoom="13"
                :options="{
                  zoomControl: true,
                  mapTypeControl: false,
                  scaleControl: false,
                  streetViewControl: false,
                  rotateControl: false,
                  fullscreenControl: true,
                }"
                class="googlemap"
              >
                <GMapMarker
                  :key="index"
                  v-for="(marker, index) in detail.markers"
                  :position="marker.position"
                  :clickable="true"
                  :draggable="true"
                  @click="openMarker(marker.id)"
                >
                  <GMapInfoWindow
                    :closeclick="true"
                    @closeclick="openMarker(null)"
                    :opened="openedMarkerID === marker.id"
                  >
                    <img
                      :src="imagePlace(marker.photos)"
                      class="img-fluid image-marker"
                    />
                    <h5 class="mt-2">{{ marker.description }}</h5>
                    <div class="mt-2">{{ marker.address }}</div>
                  </GMapInfoWindow>
                </GMapMarker>
              </GMapMap>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
// use pinia for store state data in nuxt3
const props = defineProps({
  detail: {
    type: [Array, Object],
  },
});
const { detail } = toRefs(props);
const showModal = ref(false);

const openModal = () => {
  showModal.value = true;
};

const closeModal = () => {
  showModal.value = false;
};

const openedMarkerID = ref("");
const openMarker = (id) => {
  openedMarkerID.value = id;
};

defineExpose({
  openModal,
});
</script>
