<template>
  <div>
    <div class="row">
        <div class="col-12">
            <!-- googlemap plugin -->
            <Gmaps></Gmaps>
            <!-- Form search and show list data -->
            <FormSearch></FormSearch>
        </div>
    </div>
  </div>
</template>