.image-place {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.image-marker {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.googlemap {
  width: 100%;
  margin: auto;
}

.pointer {
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: 0.3s;
}

.modal {
  background-color: rgb(0, 0, 0, 0.5);
  transition: 0.3s;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  display: block;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 599px) {
  .image-place {
    height: 160px;
  }
  .googlemap {
    height: 250px;
  }
  .image-place {
    border-radius: 5px 5px 0px 0px;
  }
}

@media only screen and (min-width: 600px) {
  .image-place {
    height: 210px;
  }
  .googlemap {
    height: 600px;
  }
  .image-place {
    border-radius: 5px 0px 0px 5px;
  }
}
